nav {
	font-family: "Montserrat", sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: white;
	min-height: 8vh;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
  }
  /*nav links positioning*/
  .nav-links {
	display: flex;
	list-style: none;
	justify-content: space-around;
	width: 40%;
  }
  /*nav links styles*/
  .nav-links a {
	color: white;
	margin-left: 5px;
	text-decoration: none;
	font-size: 40px;
  }

  /*links hover*/
  a:hover {
	color: var(--cef-teal);
  }
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400|Lora:400);
html {
  font: 400 3em "Lora", serif;
  background-color: #191919;
}



.profile {
  background: url("/assets/GettyImages-1147456157.jpg") center 30%;
  height: 50vh;
  background-size: cover;
}

@media (min-width: 55em) {
  .profile {
    width: 40%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
  }
}
@media (min-width: 80em) {
  .profile {
    width: 50%;
  }
}

article {
  color: #ccc;
}

@media (min-width: 80em) {
  article {
    margin-left: 50%;
  }
}

header {
  text-align: center;
  padding: 0 2em;
}

h1 {
  font-family: "Old Standard TT", serif;
  color: #f30e94;
  text-transform: uppercase;
  font-weight: 400;
}

.nth-line-1
 {
  line-height: 1;
}

.nth-line-1 {
  font-size: 19vw;
}
@media (min-width: 55em) {
  .nth-line-1 {
    font-size: 10.5vw;
  }
}




.lead {
  color: #ccc;
  font-size: 1.5625em;
  max-width: 20em;
  margin: 0 auto;
  text-align: center;
}



 .content {
  -webkit-column-width: 14em;
     -moz-column-width: 14em;
          column-width: 14em;
  -webkit-column-gap: 1.33em;
     -moz-column-gap: 1.33em;
          column-gap: 1.33em;
  padding: 0 3em;
}
@media (min-width: 55em) {
 .content {
    padding: 0 3em;
  }
}

 .content:first-of-type:first-letter {
  color: #f30e94;
  float: left;
  font-size: 7em;
  line-height: 1;
  margin-top: -0.2em;
  margin-bottom: -0.2em;
  margin-right: 0.1em;
}

img {
  max-width: 100%;
  margin-bottom: 1.33em;
  vertical-align: middle;
}



